.section-content.tools .logo-content {
  background-image: url(../images/tools.png);
  background-size: 90%;
}

.nav-header {
  background-color: rgba(255,255,255,1);
  background: #fff url(../images/subtle_dots.png);
}

header h1#logo {
  text-shadow: 4px 4px 4px rgba(0,0,0.2);
  font-size: 1.4em;
}

header h1 img {
  max-width: 40px;
  padding-right: 0px;
}

.section-content.tools {
}

sup {
  color: lightseagreen;
}

.section-content.tools {
  margin-bottom: 30px;
  padding-top: 60px;
  width: 1000px;
}

.section-content.tools {
  content: '';
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  height: auto;
}

@media (min-width: 768px)
.section-content.tools {
  margin-bottom: 20px;
  padding-top: 60px;
  width: 90%;
}

.section-content.header {
  background-color: #cdffed !important;
}
