@font-face {
    font-family: "BrandonGrotesque";
    src: url("../fonts/brandon/Brandon_reg.otf.html");
    font-weight: 400;
}

@font-face {
    font-family: "BrandonGrotesque";
    src: url("../fonts/brandon/Brandon_med.otf.html");
    font-weight: 500;
}

@font-face {
    font-family: "BrandonGrotesque";
    src: url("../fonts/brandon/Brandon_bld.otf.html");
    font-weight: 700;
}