
/*Bootstrap Col Center Hack*/
/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.clearfix {
  clear: both;
}

ul {
  margin:0;
  padding:0;
}

/*Anchor + nav height fix */
.anchor{
  display: block;
  height: 75px; /*same height as header*/
  margin-top: -75px; /*same height as header*/
  visibility: hidden;
}

/*Header*/
header {
    background-color: transparent;
    height: 1px;
    overflow: visible;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
}

header.smaller, .pricing-page header {
  background: #FFF url(../images/subtle_dots.png);
  background-color: #FFF;
  -webkit-box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow:    0px 1px 13px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.07);
  position: fixed;
}

header .flag {
  display: inline-block;
  width: 40px;
  background-size: 90%;
  margin-left: -5px;
}

@media all and (max-width: 661px){
  header .flag {
    width: 30px;
  }
}

header .flag span:first-child {
margin-left: 20px;
}

header .flag .ar {
  background: url(../images/flags/ar.png) no-repeat;
  background-size: 34px 22px;
  height: 40px;
  width: 35px;
  display: inline-block;
  top: 24px;
  position: relative;   
}

header .flag .br {
  background: url(../images/flags/br.png) no-repeat;
  background-size: 34px 22px;
  height: 40px;
  width: 35px;
  display: inline-block;    
  top: 24px;
  position: relative;
}

header .flag .mx {
  background: url(../images/flags/mx.png) no-repeat;
  background-size: 34px 22px;
  height: 40px;
  width: 35px;
  display: inline-block;
  top: 24px;
  position: relative;  
}

header .flag .uy {
  background: url(../images/flags/uy.png) no-repeat;
  background-size: 34px 22px;
  height: 40px;
  width: 35px;
  display: inline-block;
  top: 24px;
  position: relative;  
}

header img {
  max-width: 42;
  max-height: 42;
  display: none;
}

header.smaller img {
  max-width: 40;
  max-height: 40;
  display: inline;
  float: left;
  padding-right: 5px;
}

header h1#logo {
  #background-size: contain;
  color: #FFF;
  float: left;
  height: 42px;
  color: #FFF;
  font-family: 'BrandonGrotesque', sans-serif;
  #font-weight: 400;
  font-size: 2.2em;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}

header h1#logo sup {
  color: rgb(88,91,96);
  font-size: 0.5em;
  padding-left: 3px;
}

header #headerLoginLnk {
  color: rgb(255,190,14);
  text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

header nav {
    display: inline-block;
    float: right;
    margin-top: 5px;
    padding-top: 10px;
}

header nav a {
  color: #FFF;
  font-family: 'BrandonGrotesque', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 20px;
}






@media all and (max-width: 767px) {
  header h1#logo {
    #background: url(../images/nube.png) no-repeat;
    font-size: 1.2em;
    background-size: contain;
    width: 100px;
  }
  #wrapper section.hero {
    background-color:#80d1b3;
    background-image: none;
  }
  .multi-img {
    margin-top: 20px;
    text-align: center;
  }
  .multi-img img{
    margin:0 auto;
    display: none;
  }
  section.app .feature-box {
    margin-top: 20px;
    text-align: left;
    margin-bottom: 20px;
  }
  section.app .feature-box.right {
    margin-top: 10px;
  }
  .phone-container {
    display: none;
  }
  .feature-title .col-xs-6 img {
    max-width: 200px;
    margin: 0 auto;
  }
}

@media all and (max-width: 567px) {
  .header-low {
    display: block;
    clear: both;
    float: right;
    margin-top: -40px;
  }
  #wrapper header nav a.btn.tryout {
    margin: 0;
    font-size: 12px;
    padding: 7px;    
  }
  /*Lang Selector Fix*/
  header .flag {
    margin-top: 5px;
    position: relative;
    top: 7px;
  }

  header .flag .br, header .flag .mx, header .flag .ar, header .flag .uy {
    top: 0px;
    width:34px;
    height: 22px;
  }
  header, header.smaller {
    height: 90px;
  }
  header nav > a {
    position: relative;
    top: 7px;
  }
  header nav > a:nth-child(3) {
    margin-right: 0px;
  }
}

header nav a:hover {
    color: white;
    text-decoration: none;
    opacity: 0.7;
}

header.smaller, .pricing-page header {
    background-color: rgba(255,255,255,1);
    height: 75px;
    transition: height 0.3s ease-in;
}

header.smaller nav a, .pricing-page header nav a{
    color: #787878;
}

header.smaller h1#logo, .pricing-page header h1#logo {
    #background: url(../images/nube.png) no-repeat;
    #background-size: contain;
    height: 40px;
    #text-indent: -9999px;
    width: 286px;
  float: left;
  color: rgb(120,120,120);
  font-family: 'BrandonGrotesque', sans-serif;
  #font-weight: 400;
  text-transform: uppercase;

}

header.smaller h1#logo sup {
  color: rgb(24, 188, 156);
  #color: lightgreen;
  font-size: 0.5em;
  padding-left: 5px;
}

@media all and (max-width: 767px) {
  header.smaller h1#logo, .pricing-page header h1#logo {
    #background: url(../images/nube.png) no-repeat;
    background-size: contain;
    width: 100px;
    font-size: 1.2em;
  }
}

@media all and (max-width: 660px) {
    header nav {
        display: block;
        float: none;
        height: 50px;
        text-align: right;
        margin: 0 auto;
    }
    header nav a {
        margin: 0 10px;
    }
    header h1#logo, header.smaller h1#logo {
        height: 40px;
        width: 100px;
    }
}

@media all and (min-width: 567px) and (max-width: 660px){
  header.smaller nav, header nav {
    margin-top:5px;
  }
}

@media all and (max-width: 301px){
    header, .pricing-page header, header.smaller {
      height: 90px;
    }
    .header-low {
      margin-top: -24px;
    }
  }

.btn.tryout {
    color: #FFFFFF;
    border: solid 1px #ffbe0e;
    background-color: #ffbe0e;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 12px 17px;
    font-weight: 500;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

header.smaller .btn.tryout, .pricing-page header .btn.tryout {
    color: #FFFFFF;
    border: solid 1px #ffbe0e;
    background-color: #ffbe0e;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 12px 17px;
}

/* start: Header Hero Section */ 

section.hero {
  background-color: #80d1b3;
  background-image: url(../images/popbackground_2.png);
  background-position: center -40px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
  height: 90vh;
  min-height: 700px;
  max-height: 700px;
  padding-top: 70px;
}

section.hero .intro-text {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  font-size: 15px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
  min-height: 50px;
}

section.hero.no-video .video-thumbnail img {
  margin: 0 auto !important;
}

iframe {
 box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

@media all and (min-width: 992px) and (max-width: 1217px){
  section.hero iframe {
    width: 450px;
  }
}

section.hero .seal {
  position: relative;
  top: 30px;
  right: 153px;
  z-index: 998;
}

@media all and (max-width: 780px){
  section.hero .seal {
    right: 0px;
  }
}

@media all and (min-width: 1200px) {
  section.hero .seal {
    right: 15%;
  }
}

@media all and (min-width: 992px) and (max-width:1199px){
  section.hero .seal {
    right: 7%;
  }
}

h1.first-call {
  color: #FFF;
  font-family: 'BrandonGrotesque', sans-serif;
  font-weight: 400;
  font-size: 3.3em;
  margin-bottom: 50px;
  padding-top: 20px;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px rgba(0,0,0,0.2);

}

.slogan h2 {
  line-height: 20px;
  color: #FFF;
  font-family: 'BrandonGrotesque', sans-serif;
  font-size: 2.2em;
  font-weight: 400;
  text-transform: uppercase;  
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);

}

.divider-white {
  margin-top: 20px;
  width: 74px;
  height: 16px;
  background: url(../images/divider-white.png) no-repeat;
  margin-bottom: 15px;
}

.fold-close {
  height: 54px;
  width: 54px;
  background: url(../images/read-more.png) no-repeat;
  background-size: 54px;
  cursor: pointer;
  margin: 10px auto 0px;
}

/* end: Header Hero Section */ 

/* Botones Call to Action */
a.btn-default.cta {
  background-color: #ffbe0e;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 17px;
  border: 0;
}

a.btn-default.cta:hover {
  background-color: #ffcc41;
}

a.btn-default.cta:active {
  background-color: #ffbe0e;
  opacity: 0.8;
  border: 0;
}

.hero .call-to-action .btn-default.cta {
  margin: 20px 0 5px;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.hero .call-to-action .trial {
 font-family: 'Roboto', sans-serif;
 color: #FFF;
 font-size: 14px;
 margin-top: 5px;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.trial-detail {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
}

/* Módulo Herramientas Métricas y Análisis */ 
section.herramientas-analisis{
  padding: 25px 0 10px;
}
section.herramientas-gestion {
  padding: 30px 0 50px;
}

/* start: Modules Generic*/

.module {
  padding:60px 0 60px;
}

.module-title .title-text {
  font-family: 'BrandonGrotesque', sans-serif;
  color: #585b60;
  font-size: 1.8em;
  text-transform: uppercase;
  text-shadow: rgba(0,0,0,0.2) 0 0 1px;
  padding-left: 10px;
  position: relative;
  top: -10px;
}

.module .icon {
width: 44px;
height:44px;
display: inline-block;
}

/* end: Modules Generic*/


/* Module Specific */

/* start: Competition */

.icon.competition-icon {
  background: url(../images/module-icons/icon-competition@2x.png) no-repeat top left;
  background-size: 44px;
}

.module-subtitle {
  font-family: 'Roboto', sans-serif;
  color: #787878;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* end: Competition */


/* start: Market */

.module-1{
  background-color: #f1f1f1;
}
.icon.market-icon {
  background: url(../images/module-icons/icon-market@2x.png) no-repeat top left;
  background-size: 44px;
}

/* end: Market */

/* start: Lister */

.icon.lister-icon {
  background: url(../images/module-icons/icon-lister@2x.png) no-repeat top left;
  background-size: 44px;
}

/* end: Lister */

/* start: Dashboard */

.module-2 {
  background-color: #f1f1f1;
  padding-bottom: 140px;
}



/* end: Dashboard */

/*start: sales Module */

.module-7 {
  background-color: #FFFFFF;
}

.icon.sales-icon {
  background: url(../images/module-icons/icon-sales@2x.png) no-repeat top left;
  background-size: 44px;
}
/* end: sales Module*/

/*start: Buyers Module */

.module-8 {
  background-color: #f1f1f1;
}

.icon.buyers-icon {
  background: url(../images/module-icons/icon-buyers@2x.png) no-repeat top left;
  background-size: 44px;
}
/* end: Buyers Module*/

/*start: Mailing Module */

.module-9 {
}

.devtools .icon {
  background: url(../images/developer_tools.jpg) no-repeat top left;

}

.support-box-title {
  font-family: 'BrandonGrotesque', sans-serif;
  color: green;
  font-size: 1.2em;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px rgba(0,0,0,0.2);
  padding-left: 10px;
  position: relative;
  top: 5px;
  padding: 10px;
}

.documentation-icon {
  max-width: 90px;
}


.devtools-icon {
  max-width: 100px;
}

.documentation .icon {
  background: url(../images/documentation.png) no-repeat top left;
  background-size: 44px;
}


.icon.devtools-icon {
  background: url(../images/developer_tools.jpg) no-repeat top left;
  background-size: 44px;
}

.icon.documentation-icon {
  background: url(../images/documentation.png) no-repeat top left;
  background-size: 44px;
}
/* end: Mailing Module*/

/* start: Descriptions */
.icon.descriptions-icon {
  background: url(../images/module-icons/icon-descriptions@2x.png) no-repeat top left;
  background-size: 44px;
}

.icon.sales-icon {
  background: url(../images/module-icons/icon-sales@2x.png) no-repeat top left;
  background-size: 44px;
}

@media all and (max-width: 991px) {
  .descriptions {
    margin-top: 60px;
  }
}
/* end: Descriptions */

/* start: Block and Operators */

.module-4 {
  background: #FFFFFF;
}

.icon.operators-icon {
  background: url(../images/module-icons/icon-operators@2x.png) no-repeat top left;
  background-size: 44px;
}

.icon.blocking-icon {
  background: url(../images/module-icons/icon-blocking@2x.png) no-repeat top left;
  background-size: 44px;
}
@media all and (max-width: 991px) {
  .operators {
    margin-top: 60px;
  }
}

/* end: Block and Operators */

/*start: questions */ 
.module-5 {
  background-color: #f1f1f1;
  padding-bottom: 140px;
}
/*end: questions */ 

.analisis span.icon, .gestion span.icon {
height: 100px;
  width: 100px;
  display: inline-block;
  
}
.analisis span.icon {
  background: url(../images/tools-stats.png) no-repeat;
  background-size: 70%;   

}
.gestion span.icon {
  background: url(../images/tools-admin.png) no-repeat;
  background-size: 70%;   
}

.analisis .icon.chart, .gestion .icon.chart{
  background-position: center right;
}
.analisis .text h3,.analisis .text h4, .gestion .text h3,.gestion .text h4 {
  font-family: 'BrandonGrotesque', sans-serif;
  text-transform: uppercase;
  color: #585b60;
}
.analisis-txt, .gestion-txt {
  text-align: right;
}

.analisis .text h3 {
  font-weight: 700;
}

.gestion .text h3 {
  font-weight: 700;
}

@media all and (max-width: 991px) {
  .analisis .icon.chart, .gestion .icon.chart {
    background-position: center center; 
  }
  .analisis-txt, .gestion-txt {
    text-align: center;
  }
  .analisis .col-md-7, .gestion .col-md-7 {
    text-align: center;
    margin-bottom: 20px;
  }
  .module-features {
    margin-bottom: 100px;
  }
  header nav a {
    margin-left: 7px;
    font-size: 12px;
  }
  header nav a.btn.tryout, header.smaller nav a.btn.tryout, .pricing-page header nav a.btn.tryout {
    padding: 12px 5px;
  }
  header .flag span:first-child {
    margin-left: 10px;
  }
  section.hero {
    height: auto;
    min-height: inherit;
    max-height: none;
    padding-bottom: 35px;
  }
  .video-container {
    clear: both;
    margin-top: 90px;
  }
  .video-wrapper{
    text-align: center;
  }
  section.hero.no-video .video-thumbnail {
    margin-top: 90px;
  }  
}

.module-features ul li {
  background: url(../images/li-icon.png) no-repeat;
  background-size: 15px;
  background-position: 0px;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  color: #787878;
  margin-bottom: 20px;
  line-height: -10px;
  padding: 0px 0px 0px 30px;
}

.icon.dashboard-icon {
  background: url(../images/module-icons/icon-dashboard@2x.png) no-repeat top left;
  background-size: 44px;
}

.icon.questions-icon {
  background: url(../images/module-icons/icon-questions@2x.png) no-repeat top left;
  background-size: 44px;
}


.icon.monetization-icon {
  background: #f1f1f1 url(../images/pop/icons/monetization.PNG) no-repeat top left;
  background-size: 44px;
}


.icon.gamedesign-icon {
  background: #FFFFFF url(../images/pop/icons/gamedesign_05.png) no-repeat top left;
  background-size: 44px;
}

.icon.players-icon {
  background: #FFFFFF url(../images/pop/icons/player_07.png) no-repeat top left;
  background-size: 44px;
}



/* start: Listings */

.module-3 {
  background: #FFFFFF url(../images/subtle_dots.png);
  padding-bottom: 60px;
}
.module-4 {
  background-color: #f1f1f1;
}

.icon.listings-icon {
  background: url(../images/module-icons/icon-positioning@2x.png) no-repeat top left;
  background-size: 44px;
}

/* end: Listings */


/* start: feedback */
.module-6 {
  background-color: #f1f1f1;
}
.icon.feedback-icon {
  background: url(../images/module-icons/icon-feedback@2x.png) no-repeat top left;
  background-size: 44px;
}

/* end: feedback */



/* start: support */

section.support {
  background: #FFF;
  padding: 30px 0 30px;
}

section.support .support-title, section.support .support-subtitle {
  font-family: 'BrandonGrotesque', sans-serif;
  color: #787878;
  margin-bottom: 30px;
}

section.support .support-title {
  margin-top:0;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  font-size: 3em;
}

section.support .phone .value {
  position: relative;
  top: -8px;
  font-size: 18px;
}

section.support .mail{
  margin-bottom: 20px;
}

section.support .mail .value {
  position: relative;
  top: 8px;
  font-size: 18px;
  font-family: 'BrandonGrotesque', sans-serif;
}

section.support .email, section.support .phone {
  font-family: 'BrandonGrotesque', sans-serif;
  color: #585b60;
}

.mail .icon {
  background: url(../images/support-mail.png) no-repeat center center;
  display: inline-block;
  background-size: 95%;
  width: 40px;
  height: 40px;
}
.phone .icon {
  background: url(../images/support-phone.png) no-repeat center center;
  background-size: 95%;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.mail-mobile, .phone-mobile {
  text-align: center;
  font-size: 16px;
  font-family: 'BrandonGrotesque', sans-serif;
  color: #585b60;
  margin-bottom: 10px;
}

section.support a {
  color: #585b60;
}
section.support a:hover {
  text-decoration: none;
  color: #80d1b3;
}

/*end: support */

/*start: 404 */

section.page404 {
  background: #FFF;
  padding-top: 60px;
  text-align: center;
}

section.page404 .page404-title{
  font-family: 'BrandonGrotesque', sans-serif;
  color: #787878;
  margin-bottom: 30px;
}

section.page404 .page404-subtitle {
  font-family: 'BrandonGrotesque', sans-serif;
  color: #787878;
}

section.page404 .page404-title {
  font-size: 26px;
  padding: 20px 0 20px 0;
}

section.page404 a {
  color: #585b60;
  text-decoration: none;
  font-size: 14px;
}

section.page404 a:hover {
  text-decoration: none;
  color: #80d1b3;
}

/*end: 404 */

section.success-cases {
  padding: 30px 0 30px;
  background: #f8f9fb;
  font-size: 2em;
}


.success-cases .row + .row {
  margin-top: 15px;
}

.success-cases .col-sm-2 {
  padding-bottom: 15px;
}


/*start: statistics*/
section.statistics{
  padding: 40px 0 40px;
  background-color: #FFFFFF;
  font-family: 'BrandonGrotesque', sans-serif;
}

section.statistics .stat-number{
  font-size: 4em;
  color: #80d1b3;
}

section.statistics .stat-description{
  font-size: 18px;
  color: #787878;
  text-transform: uppercase;
}

/*start: statistics*/


/* start: Password safe */ 

section.password-safe {
  background: #80d1b3  url(../images/lines-bg.png) no-repeat center center;
  background-size: cover;
  color: #FFF;
  text-align: center;
  text-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}
section.password-safe .pre {
  height: 49px;
  background: transparent url(../images/pre.png) no-repeat center center;
  background-size: cover;
}
section.password-safe .post {
  height: 49px;
  background: #FFF url(../images/post.png) no-repeat center center;
  background-size: cover;
}
section.password-safe .heading {
  font-family: 'BrandonGrotesque', sans-serif;
  text-transform: uppercase;
  color: #FFF;
  font-size: 2.8em;
  margin-bottom: 20px;
  padding-top: 20px;
}

section.password-safe .subtext {
  font-family: 'Roboto', sans-serif;
  max-width: 500px;
  margin:0 auto 15px;
  font-size: 18px;
}

.meli-certified {
  margin-top: 30px;
  padding-bottom: 10px;
}

.meli-certified img {
  margin: 0 auto;
}

/* end: Password safe */

.free-trial {
  padding: 20px 0 0px;
}

.free-trial .try {
  font-family: 'BrandonGrotesque', sans-serif;
  color: #787878;
  font-size: 25px;
  padding-top: 120px;
}

.free-trial .call-to-action {
  margin-top: 15px;
}

.free-trial .call-to-action a.btn-default.cta {
  border: 0;
}

@media all and (max-width: 991px) {
  .free-trial .try, .free-trial .call-to-action {
    text-align: center;
  }
  .free-trial .call-to-action{
    margin-bottom: 20px;
  }
  .free-trial .try {
    padding-top: 30px;
  }
  footer nav {
    padding: 0;
    text-align: center;
    display: block;
    width: 100%;    
  }
}

 /* FOOTER */ 

 footer {
  background-color: #787878;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
 }

 .copyright {
  background-color: #787878;
  text-align: center;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
 }

 .copyright .powered-rackspace {
  padding: 10px 30px 5px;
  border-bottom: 1px solid #B3B3B3;
  max-width: 500px;
  margin: 0 auto 5px;
 }

 .copyright .text {
  padding-bottom: 5px;
 }

 footer h1#logo {
    background: url(../images/nube.png) no-repeat;
    background-size: 70%;
    display: inline-block;
    float: left;
    height: 42px;
    text-indent: -9999px;
    width: 286px;
}

footer nav {
    display: inline-block;
    float: right;
    padding-right: 30px;
    margin-top:24px;
}

footer .afip {
  margin-top: 10px;
}

footer nav a {
    color: #FFF;
    font-family: 'BrandonGrotesque', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 20px;
    line-height: 30px;
}
footer.footer-ar nav{
  display: table;
  float: initial;
  padding-right: 0;
  margin-top: initial;
  margin: 24px auto 0 auto;
}
footer.footer-ar nav a:first-child { 
  margin-left: 0;
}
footer.footer-ar nav a:hover {
    color: white;
}
footer.footer-ar .logo-cace{
  width: 64px;
  margin: 10px 20px 0 0;
  float: right;
}
footer.footer-ar .logo-cace img{
  width: 100%;
}
footer.footer-ar .social-icons {
  width: 40px;
}
@media only screen and (max-width: 767px){
  footer.footer-ar .logo-cace{
    float: initial;
    margin: 20px auto;
    font-size: 1.2em;
  }
  footer.footer-ar .afip{
    float: initial !important;
    text-align: center;
  }
  footer.footer-ar .row .col-sm-3:last-child(){
    text-align: center;
  }
}


/* Parallax */
.credit, .cancel {
font-family: 'BrandonGrotesque', sans-serif;
font-size: 40px;
font-weight: 700;
color: #FFF;
text-shadow: 0px 0px 3px rgba(150, 150, 200, 0.90);
}

.rel-parallax {
position: relative;
top: 90px;
}
.txt-spacer {
text-indent: -9999px;
}

/*Pricing Features Highlight*/

section.highlights {
  padding: 50px 0 50px;
}
section.highlights .icon {
  text-align: center;
}
section.highlights .icon img {
  margin-bottom: 20px;
}
section.highlights .title {
  font-family: 'BrandonGrotesque', sans-serif;
  color: #585b60;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}
section.highlights .explain {
  font-family: 'Roboto', sans-serif;
  color: #787878;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}
@media all and (max-width: 991px) {
  section.highlights .col-md-3.col-centered:last-child{
    margin-top: 45px;
  }

section.pricing .toggler, section.pricing .price {
  padding: 5px;
}
section.pricing .price{
  padding-top: 10px;
  font-weight: 20px;
}

}

@media all and (max-width: 991px) {
  section.highlights .col-md-3:nth-child(2) {
    margin-top: 45px;
  }
}

/*FAQ*/
section.faq {
  background: #80d1b3 url(../images/lines-bg.png) no-repeat center center;
  /*background-color: #80d1b3;*/
  padding: 40px 0 80px;
}

section.faq .title {
  font-family: 'BrandonGrotesque', sans-serif;
  color: #FFF;
  font-size: 2.8em;
  margin-bottom: 20px;
  padding-top: 20px;

}

.ac-container{
  margin: 10px auto 30px auto;
  text-align: left;
}
.ac-container label{
  font-family: 'Roboto', sans-serif;
  padding: 15px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: auto;
  cursor: pointer;
  color: #4d4d4d;
  line-height: 33px;
  font-size: 16px;
  background: #fbfbfb;
  margin-bottom: 15px;
  border-radius: 10px;
}
.ac-container label:hover{
  background: #fff;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
  background-color: rgba(132, 191, 169, 0.8);
  color: #FFF;
}
.ac-container input:checked + label, .ac-container input + label {
  text-align: center;
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
}

.ac-container input{
  display: none;
}
.ac-container article{
  background: rgba(255, 255, 255, 1);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
  font-family: 'Roboto', sans-serif;
  color: #777;
  line-height: 23px;
  font-size: 14px;
  padding: 20px;
  text-shadow: 1px 1px 1px rgba(255,255,255,1);
}
.ac-container input:checked ~ article{
  -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
  margin-bottom:10px;
}
.ac-container input:checked ~ article.ac-small{
  height: 150px;
}
@media all and (max-width: 578px) {
  .ac-container input:checked ~ article.ac-small{
    height: 195px;
  }
}
.ac-container input:checked ~ article.ac-medium{
  height: 180px;
}
.ac-container input:checked ~ article.ac-large{
  height: 230px;
}

/*Pricing */

.sales {
  background-color:#80d1b3;
  color: #FFF;
  font-family: 'BrandonGrotesque', sans-serif;
  text-align: center;
}

.price {
  text-align: center;
  font-family: 'BrandonGrotesque', sans-serif;
  color: #9f9b98;
  font-weight: bold;
  font-size: 24px;
}

.sales,.price,.toggler {
  padding: 10px;
}

.price {
  padding-top: 20px;
}

.amount {
font-size: 22px;
font-weight: bold;
}

.sale-text {
  text-transform: uppercase;
  font-size: 16px;
}

.toggler-text {
  font-family: 'Roboto', sans-serif;
  color: #9f9b98;
}

.prices-disclaimer {
  font-family: 'Roboto', sans-serif;
  color: #787878;
  font-size: 18px;
  margin: 20px 0 20px;
  padding:0 20px 0;
}

.tryout-cta{
  padding:100px 0 20px;
}

.headline h2 {
  font-family: 'BrandonGrotesque', sans-serif;
  font-size: 3em;
  /*color: #888B90;*/
  color: #787878;
}

.tryout-explain {
  width: 40%;
  min-width: 200px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  color: #787878;
}
.price-row + .price-row {
  margin: 10px 0;
}

.price-row.dark {
  background-color: #eeeeee;
}

.price-row.disclaimer{
  background-color:#80d1b3;
  color: #FFF;
  font-size: 17px;
  padding: 5px 0 5px;
  font-family: 'Roboto', sans-serif;
  margin: 0 -5px 0 -15px;
}

@media all and (max-width: 991px) {
  .price-row {
    padding: 0 15px 0;
  }
  .price-row.disclaimer {
    margin:0;
  }
}

.toggler-wrapper {
  max-width: 250px;
  margin: 0 auto;
  padding-top: 5px;
}

.price-detail {
  font-family: 'Roboto', sans-serif;
  color: #585b60;
  margin: 10px 0 15px;
}

.payment-options-images {
  margin: 20px 0 40px;
}

.payment-options-images img {
  margin: 0 auto;
}

/* Terms and Conditions */
.terms-and-conditions {
  font-family: 'Roboto', sans-serif;
  padding-top: 80px;
}

.terms-and-conditions .terms-header {
  font-size: 25px;
}

/*Social Icons*/

/* --------------- Facebook */

.facebook_light {
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background:url(../images/social_icons_light.svg) no-repeat;
  background-position:0 -180px;
}

.facebook_light span {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background:url(../images/social_icons_light.svg) no-repeat;
  background-position: -30px -180px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition:    opacity 0.5s;
  -o-transition:      opacity 0.5s;
}

.facebook_light:hover span {
  opacity: 1;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 50%;
  height: auto;
}

.owl-carousel {
 max-width: 550px;
 max-height: 450px;
 margin-left: 0px !important;

}

.owl-item {
 max-width: 550px;
 max-height: 450px;
}

/* Section Multi Account */
section.multi-account {
  background:#80d1b3 url(../images/pattern.png);
  padding: 30px 0 40px;
}

section.multi-account .heading {
  font-family: 'BrandonGrotesque', sans-serif;
  text-transform: uppercase;
  color: #FFF;
  font-size: 2.8em;
  margin-bottom: 20px;
  padding-top: 20px;
}

.multi-account p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #FFF;
}

/* Section App */

section.app {
  padding-top: 20px;
}

section.app .header {
    font-family: 'BrandonGrotesque', sans-serif;
    color: #585b60;
    font-size: 1.8em;
    text-transform: uppercase;
    text-shadow: rgba(0,0,0,0.2) 0 0 1px;
    margin-bottom: 25px;
}

.phone-container {
  max-height: 480px;
  overflow: hidden;
}

.feature-box {
  margin-top: 100px;
  width: 100%;
  overflow: hidden;
  text-align: right;
  margin-bottom: 50px;
  color: #787878;
  font-family: 'Roboto', sans-serif;
}

.feature-title {
  color: #585b60;
}

.feature-box.right {
  text-align: left;
  margin-top: 150px;
}

.feature-box.second {
  margin-top: 40px; 
}

.app .feature-title img{
  width: 100%;
}
